/*General*/

html {
  font-size: 16px;
}

section {
  width: 100%;
  display: flex;
}

h1  {
  font-weight: 900;
  color: darkgrey;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

h2 {
  font-weight: 600;
  color: darkgrey;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

/*Header*/

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 18px;
  text-transform: uppercase;
}

#colmar {
  font-weight: 600;
  color: black;
}

#academy {
  font-weight: 400;
  color: grey;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
}
nav.mobile {
  display: none;
}

/*Banner*/

section.banner {
  background-color: grey;
  top: 64px;
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 40px 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 320px;
}

.button {
  background-color: firebrick;
  width: 100%;
  margin-right: 16px;
  text-align: center;
}

.button h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: white;

}

/*Information*/

.feature-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px 32px 24px;
}

.feature-content img {
  width: 100%;
  height: auto;
}

.feature-content h5 {
  margin-bottom: 24px;

}

.sidebar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
  padding-bottom: 32px;
}

.sidebar div:first-child {
  padding-top: 16px;
  background-color: lightgrey;
}

.sidebar div:nth-child(3n) {
  background-color: grey;
}

.sidebar-block {
  display: inline-flex;
  align-items: center;
  width: 423px;
}

.sidebar-block img {
  width: 35%;
  margin: 16px 16px 16px 16px;
}

.sidebar-mobile {
  display: none;
}

.textbox {
  margin-right: 16px
}

/*Courses*/

.courses {
  background-color: gray;
  display: block;
}

.courses h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 64px 32px 64px;

}

.course-holder {
  width: 260px;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 16px;
}

.course-holder img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.course-holder .textbox {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.courses-mobile {
  display: none;
}

/*Thesis*/

.thesis {
  display: block;
}

.thesis h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding bottom: 32px;
}

.thesis-content {
  display: inline-flex;
}

.video {
  margin-right: 16px;
}

video {
  margin-bottom: 24px;
}

#thesis {
  border-left: none;
  margin-top: 32px;
}

#thesis div:first-child{
  background-color: grey;
  padding-top: 0px;
}

/*Footer*/

footer {
  height: 64px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid lightgrey;
}

footer span {
  margin-left: 24px;
}
